.card{
  width: 18rem;
  text-align: center;
  margin-left: 2ch;
  border: 2px solid black;
  padding: 5px;
}

.row{
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
  margin-top: 3ch;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.card:hover{
  overflow: hidden;
  transform: scale(1.2);
}

.divinput{
  justify-content: center;
  text-align: center;
  margin-top: 3ch;
  margin-bottom: 6ch;
 /* display: block; */
  /* align-items: center; */
}

.form-select{
width: 70%;
margin: auto;
}
.input{
  height: 5ch;
  width: 70%;
  border-radius: 10px;
  text-align: center;

}
#button{
  height: 5.5ch;
  border-radius: 9px;
  margin-left: 2ch;
}